# Build output
SW/obj/

# MounRiver Studio generated / user-instance files
SW/.mrs/*.snapshot
SW/.mrs/*-[0-9]*.mrs-workspace

# KiCAD Backups, DRC
PCB/*-backups
PCB/*.rpt
PCB/.history

# macOS
.DS_Store
**/.DS_Store
